h1{
    color: rgb(255, 255, 255) !important;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;
    text-font-size: 50px;


}

button{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;
    text-font-size: 50px;
    
}
button:hover{
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;
    text-font-size: 50px;
}

#btn:active{
    background-color: red;
    color: white;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;
    text-font-size: 50px;
}
.title{
    color: red;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;
    text-font-size: 50px;
}

body{
    background-color: #343131;
}
h2{
    color: white;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;
    text-font-size: 50px;
}

p{
    color: white;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;
    text-font-size: 50px;
}


